
@font-face {
    font-family:'AurulentSansRegular';
    src: url('../fonts/AurulentSans-Regular-webfont.eot');
    src: url('../fonts/AurulentSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/AurulentSans-Regular-webfont.woff') format('woff'),
         url('../fonts/AurulentSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/AurulentSans-Regular-webfont.svg#AurulentSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family:'QuattrocentoRomanRegular';
    src: url('../fonts/Quattrocento-Regular-webfont.eot');
    src: url('../fonts/Quattrocento-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Quattrocento-Regular-webfont.woff') format('woff'),
         url('../fonts/Quattrocento-Regular-webfont.ttf') format('truetype'),
         url('../fonts/Quattrocento-Regular-webfont.svg#QuattrocentoRomanRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family:'OvoRegular';
    src: url('../fonts/Ovo-Regular-webfont.eot');
    src: url('../fonts/Ovo-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Ovo-Regular-webfont.woff') format('woff'),
         url('../fonts/Ovo-Regular-webfont.ttf') format('truetype'),
         url('../fonts/Ovo-Regular-webfont.svg#OvoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

		
*{margin:0;padding:0;}
img{border:0;}

body
{
	font-family:Arial, Helvetica, sans-serif;
	color:#000;
	font-size:12px;
	background-attachment:fixed;
	line-height:2;
}

#menu_wrapper
{
	width:100%;
	height:60px;
	background:#75161c;
	float:left;
}
#header_wrapper
{
	width:100%;
	height:auto;
	background:#114b26 url(../images/header.png) repeat-x left top;
	float:left;
	border-top:5px solid #333;
}
#top_wrapper
{
	width:100%;
	height:auto;
	background:#f2f2f2;
	float:left;
}
#bottom_wrapper
{
	width:100%;
	height:150px;
	background:#ccc;
	float:left;
}
#footer_wrapper
{
	width:100%;
	height:auto;
	background:#f2f2f2;
	float:left;
	border-top:0px solid #2abe60;
}
.wrapper
{
	width:950px;
	height:100%;
	margin:0 auto;
	border:0px solid red;
}

#header
{
	display:inline-block;
	width:100%;
	height:100px;
	margin-bottom:0px;
	border-bottom:0px solid #2abe60;
}
#banner
{
	display:inline-block;
	width:100%;
	height:250px;
	background:#fff url(../images/banner.png) no-repeat left top;
	margin-top:15px;
	margin-bottom:10px;
	border:1px solid #fff;
}
#logo
{
	width:300px;
	height:80px;
	float:left;
	padding:10px 0;
}
#logo img
{
	width:250px;
	height:80px;
}
#menu
{
	width:600px;
	height:100px;
	float:right;
}
ul#nav
{
	list-style:none;
	float:right;
}
ul#nav li
{
	display:inline;
	float:left;
	border-left:1px solid #2abe60;
}
ul#nav li.first
{
	border-left:0;
}
ul#nav li a
{
	display:inline-block;
	padding:0 30px;
	height:100px;
	line-height:100px;
	font-family:'AurulentSansRegular';
	font-size:16px;
	text-decoration:none;
	color:#333;
	/*font-weight:bold;*/
	transition:all 0.5s ease-out;
	-webkit-transition:all 0.5s ease-out;
	-moz-transition:all 0.5s ease-out;
	-o-transition:all 0.5s ease-out;
}
ul#nav li a:hover, ul#nav li a.active
{
	background:#333 /*url(../images/nav_hover.png) repeat-x left top*/;
	color:#35f079;
}
#content_block
{
	display:inline-block;
	width:100%;
	height:auto;
	padding:20px 0;
	border-bottom:0px solid #2abe60;
}
h1
{
	font-family:'AurulentSansRegular';
	color:#2abe60;
	font-weight:normal;
	text-transform:uppercase;
	margin-bottom:20px;
	border-bottom:1px solid #2abe60;
}
/*----------------------About NEWS & EVENTS------------------------------*/
.box2{
	width:320px;
	height:300px;
	float:right;
	margin-top:-5px;
}
.ticker {
	width:320px;
	height:300px;
	overflow: hidden;
	/*border: 1px solid #DDD;*/
	margin: 0;
	padding: 0;
	list-style: none;
	/*border-radius: 5px;
	box-shadow: 0px 0px 5px #DDD;*/
}

#ticker_02 {
	width:330px;
	height: 400px;
}

.ticker li {
	/*height: 48px;*/
	border-bottom: 1px dotted #DDD;
	/*padding: 5px;*/
	/*margin: 0px 5px;*/
}

.datebox{
	height:80px;
	/*width:250px;*/
	/*float:left;*/
	margin-bottom:10px;	
}
.datebox1{
	height:80px;
	width:70px;
	float:left;
	background:#2abe60;
	/*margin-top:-5px;*/
	border-radius: 5px;
	color:#fff;
	border:groove 1px #2abe60;
}
.datebox1 h2{
	font-family:Tahoma, Geneva, sans-serif;
	font-size:34px;
	font-weight:bold;
	color:#000;
}
.datebox1 p{
	font-weight:bold;
	color:#000;
	border-top: 1px dotted #000;
	margin-top:-10px;
}
	
.headerbox{
	height:80px;
	width:190px;
	float:left;
}
.headerbox h6{
	font-size:16px;
    margin-left:10px;
	color:#000;
}
.headerbox h5{
font-size:14px;
margin-left:10px;
color:#000;
}
#page {
	width: 330px;
	/*margin: 0 auto;*/
	margin-left:-10px;
}

.bottom{float:right;width:35%;}
/*----------------------Home WHAT OUR CLIENTS SAY------------------------------*/
.box3{
	width:320px;
	height:300px;
	float:right;
	margin-top:-5px;
}
.ticker1 {
	width: 320px;
	height: 100px;
	overflow: hidden;
	margin: 0;
	padding: 0;
	list-style: none;
}

#ticker_03 {
	width: 320px;
	height:300px;
}

.ticker1 li {
	height:300px;
	border-bottom: 1px dotted #4074f8;
	/*color:#63615e;*/
	margin-top:5px;
	margin-bottom:5px;
}
.datebox12{
	height:80px;
	/*width:250px;*/
	/*float:left;*/
	margin-bottom:10px;	
}

#page1 {
	width: 330px;
	margin: 0 auto;
	/*margin-left:-45px;*/
}

a.rm
{
	background:#2abe60;
	display:inline-block;
	padding:2px 15px;
	margin:20px 0;
	text-decoration:none;
	color:#fff;
	font-weight:bold;
	box-shadow:2px 2px 5px #333;
	transition:all 0.3s ease-out;
	-webkit-transition:all 0.3s ease-out;
	-moz-transition:all 0.3s ease-out;
	-o-transition:all 0.3s ease-out;
}
a.rm:hover
{
	color:#000;
}
ul.list1{
	list-style:none;
	list-style-image:url(../images/2.gif);
	font-size:14px;
}


/*-----------------------------------Gallery------------------------------*/
.demo p,.demo ul{margin-right:0}
/*-----------------------------------Contact------------------------------*/
#cform1{
	padding:0 10px;
	/*font-size:14px;*/
}
#cform1 label{font-weight:bold;}
#cform1 input{
	width:250px;
	padding:5px;
	border:1px solid #2abe60;
	margin-bottom:10px;
}
#cform1 textarea{width:300px;border:1px solid #2abe60;resize:none;padding:5px;font-family:Arial, Helvetica, sans-serif;}
#cform1 input#submit{
	width:80px;
	height:30px;
	border:1px solid #2abe60 ;
	background:url(../images/header.png);
	box-shadow: 2px 2px 5px #333;
	font-weight:bold;
}
#map{
	width:425px;
	height:200px;
	border:1px solid #2abe60 ;
}
#address{
	padding:10px 12px;
	/*font-size:14px;*/
}
#footer
{
	display:inline-block;
	width:100%;
	height:auto;
	padding-top:20px;
	color:#666;
	border-top:1px solid #2abe60;
}
#copyright{float:left;margin-top:10px;}
#powered{float:right;margin-top:10px;}
#powered a{color:#666;}
#powered a:hover{color:#306;}
#social{float:left;margin-left:130px;}
#social ul{list-style:none;float:left;}
#social ul li{display:inline;float:left;margin-left:10px;}
#social ul li img{width:50px;height:50px;}
